#drupal-off-canvas .form-composite > legend, #drupal-off-canvas .form-composite .label {
  font-weight: normal;
}

#drupal-off-canvas .bootstrap_layout_builder_ui .blb_nav-tabs {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 -20px 20px -20px;
  width: calc(100% + 40px);
  background: rgba(33, 37, 41, 0.25);
}

#drupal-off-canvas .bootstrap_layout_builder_ui .blb_nav-tabs:after {
  content: '';
  width: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(100% - -5px);
  background: #444444;
  background: linear-gradient(90deg, rgba(68, 68, 68, 0) 0%, #444444 100%);
  position: absolute;
}

#drupal-off-canvas .bootstrap_layout_builder_ui .blb_nav-tabs li {
  margin: 0 1px;
}

#drupal-off-canvas .bootstrap_layout_builder_ui .blb_nav-tabs li a {
  position: relative;
  padding: .5rem .75rem;
  min-height: 50px;
  min-width: 16.666%;
  background: #212529;
  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s background-color ease-in-out;
}

#drupal-off-canvas .bootstrap_layout_builder_ui .blb_nav-tabs li a:hover {
  background: rgba(33, 37, 41, 0.5);
}

#drupal-off-canvas .bootstrap_layout_builder_ui .blb_nav-tabs li a:hover .blb_tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

#drupal-off-canvas .bootstrap_layout_builder_ui .blb_icon {
  max-width: 24px;
  height: auto;
  background: none;
}

#drupal-off-canvas .bootstrap_layout_builder_ui .blb_tooltip {
  background: #333333;
  top: 100%;
  color: #ffffff;
  display: block;
  left: 50%;
  margin-left: -40px;
  margin-top: 15px;
  opacity: 0;
  padding: 5px 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 80px;
  transform: translateY(10px);
  transition: all .25s ease-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

#drupal-off-canvas .bootstrap_layout_builder_ui .blb_tooltip:before {
  top: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

#drupal-off-canvas .bootstrap_layout_builder_ui .blb_tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid #333333 10px;
  top: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

#drupal-off-canvas .bootstrap_layout_builder_bg_color .form-radios input {
  visibility: hidden;
  position: absolute;
}

#drupal-off-canvas .bootstrap_layout_builder_bg_color .form-radios input:checked + label.option {
  border: 2px solid #000000;
}

#drupal-off-canvas .bootstrap_layout_builder_bg_color .form-radios label.option {
  cursor: pointer !important;
  border: 1px solid #000000;
  border-radius: 50%;
  font-size: 0.00001px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  float: left;
  margin: 5px 5px 5px 0;
  padding: 0;
  white-space: nowrap;
}

#drupal-off-canvas .bootstrap_layout_builder_bg_color .form-radios label.option:hover {
  opacity: 0.8;
}

#drupal-off-canvas .bootstrap_layout_builder_bg_color .form-radios label.option:after {
  display: table;
  position: absolute;
  top: 3px;
  left: 0;
  right: 0px;
  bottom: 0;
  z-index: 1;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#drupal-off-canvas .bootstrap_layout_builder_bg_color .form-radios label.option._none {
  background: #ffffff !important;
}

#drupal-off-canvas .bootstrap_layout_builder_bg_color .form-radios label.option._none:after {
  content: '\2613';
  color: red;
  font-size: 35px;
  top: -8px;
  position: absolute;
}

#drupal-off-canvas .media-library-item {
  width: 100%;
  position: relative;
  justify-content: center;
  vertical-align: top;
  border: 1px solid #dbdbdb;
  margin: 0 auto;
  background: #fff;
  transition: border-color 0.2s, color 0.2s, background 0.2s;
}

#drupal-off-canvas .media-library-item *, #drupal-off-canvas .media-library-item *:not(div) {
  background: transparent;
}

#drupal-off-canvas .media-library-item input[type="submit"].button.media-library-item__remove {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  margin: 5px;
  padding: 0;
  -webkit-transition: 0.2s border-color;
  -o-transition: 0.2s border-color;
  transition: 0.2s border-color;
  color: transparent;
  border: 2px solid #ccc;
  border-radius: 20px;
  background: url(../images/ex.svg) #fff center no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  text-shadow: none;
}

#drupal-off-canvas .media-library-item input[type="submit"].button.media-library-item__remove:hover, #drupal-off-canvas .media-library-item input[type="submit"].button.media-library-item__remove:focus {
  background: url(../images/ex_dark.svg) #fff center no-repeat;
}

#drupal-off-canvas .media-library-item input[type="submit"].button.media-library-item__remove.button:disabled, #drupal-off-canvas .media-library-item input[type="submit"].button.media-library-item__remove.button:disabled:active, #drupal-off-canvas .media-library-item input[type="submit"].button.media-library-item__remove.button:hover, #drupal-off-canvas .media-library-item input[type="submit"].button.media-library-item__remove.button:focus {
  background: url(../images/ex_dark.svg) #fff center no-repeat;
}

#drupal-off-canvas .media-library-item .js-click-to-select-trigger {
  overflow: hidden;
  cursor: pointer;
}

#drupal-off-canvas .media-library-views-form,
#drupal-off-canvas .media-library-selection,
#drupal-off-canvas .media-library-add-form__selected-media .details-wrapper,
#drupal-off-canvas .media-library-views-form__bulk_form,
#drupal-off-canvas .media-library-view .form--inline {
  display: flex;
  flex-wrap: wrap;
}

#drupal-off-canvas .media-library-selection {
  margin: 1em 0;
}

#drupal-off-canvas .media-library-item__preview {
  padding-bottom: 34px;
}

#drupal-off-canvas .media-library-form-element .media-library-open-button {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

#drupal-off-canvas .media-library-form-element .media-library-open-button:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

#drupal-off-canvas .media-library-form-element .media-library-form-element-empty-text,
#drupal-off-canvas .media-library-form-element .description,
#drupal-off-canvas .media-library-form-element .js-hide,
#drupal-off-canvas .media-library-form-element .media-library-selection:empty {
  display: none !important;
}

#drupal-off-canvas .media-library-item__attributes {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 5px;
  max-height: calc(100% - 50px);
  overflow: hidden;
  background: white !important;
}

#drupal-off-canvas .media-library-item__attributes {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 5px;
  max-height: calc(100% - 50px);
  overflow: hidden;
  background: white !important;
}

#drupal-off-canvas .media-library-selection {
  margin: 0;
}

#drupal-off-canvas .media-library-selection .media-library-item--grid {
  width: 100%;
}
