// Colours
$white: #ffffff;
$gray-f8f: #f8f9fa;
$gray-e2e: #e2e6ea;
$gray-dae: #dae0e5;
$gray-dbd: #dbdbdb;
$gray-333: #333333;
$gray-212: #212529;
$black: #000000;


#drupal-off-canvas {
  // General styling.
  .form-composite {
    > legend, .label {
      font-weight: normal;
    }
  }

  // Our Custom UI
  .bootstrap_layout_builder_ui {
    margin-top: 10px;

    // We reuse drupals default horizontal tabs.
    .horizontal-tabs {
      border: none;
    }

    // Our icons/headings
    .horizontal-tabs-list {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      margin: 0 -1px;

      li {
        margin: 0 1px;

        a {
          min-height: 50px;
          min-width: 16.666%;
          background: $gray-212;
          font-size: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: .2s background-color ease-in-out;

          * {
            background: none;
          }

          &:hover {
            background: rgba($gray-212, .5);
          }
        }
      }



      &:after {
        content: '';
        width: 15px;
        top: 0;
        right: 0;
        bottom: 0;
        left: calc(100% - 10px);
        background: rgb(68, 68, 68);
        background: linear-gradient(90deg, rgba(68, 68, 68, 0) 0%, rgba(68, 68, 68, 1) 100%);
        position: absolute;
      }
    }
  }

  .bootstrap_layout_builder_icon {

  }

  // Color field.
  .bootstrap_layout_builder_bg_color {
    .form-radios {
      input {
        visibility: hidden;
        position: absolute;

        &:checked + label.option {
          border: 2px solid #000000;
        }
      }

      label {
        &.option {
          cursor: pointer !important;
          border: 1px solid #000000;
          border-radius: 50%;
          font-size: 0.00001px;
          position: relative;
          display: inline-block;
          width: 30px;
          height: 30px;
          float: left;
          margin: 5px 5px 5px 0;
          padding: 0;
          white-space: nowrap;

          &:hover {
            opacity: 0.8;
          }

          &:after {
            display: table;
            position: absolute;
            top: 3px;
            left: 0;
            right: 0px;
            bottom: 0;
            z-index: 1;
            font-size: 20px;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            height: 100%;
          }

          &._none {
            background: $white !important;

            &:after {
              content: '\2613';
              color: red;
              font-size: 35px;
              top: -8px;
              position: absolute;
            }
          }
        }
      }

    }
  }

  // Media library.
  // @TODO Add class for media.
  .media-library-item {
    width: 100%;
    position: relative;
    justify-content: center;
    vertical-align: top;
    border: 1px solid $gray-dbd;
    margin: 0 auto;
    background: #fff;
    transition: border-color 0.2s, color 0.2s, background 0.2s;

    *, *:not(div) {
      background: transparent;
    }

    input[type="submit"].button.media-library-item__remove {
      position: absolute;
      z-index: 1;
      top: 10px;
      right: 10px;
      width: 24px;
      height: 24px;
      margin: 5px;
      padding: 0;
      -webkit-transition: 0.2s border-color;
      -o-transition: 0.2s border-color;
      transition: 0.2s border-color;
      color: transparent;
      border: 2px solid #ccc;
      border-radius: 20px;
      background: url(../images/ex.svg) #fff center no-repeat;
      -webkit-background-size: 16px 16px;
      background-size: 16px 16px;
      text-shadow: none;

      &:hover, &:focus {
        background: url(../images/ex_dark.svg) #fff center no-repeat;
      }

      &.button {
        &:disabled, &:disabled:active, &:hover, &:focus {
          background: url(../images/ex_dark.svg) #fff center no-repeat;
        }
      }
    }

    .js-click-to-select-trigger {
      overflow: hidden;
      cursor: pointer;
    }
  }

  .media-library-views-form,
  .media-library-selection,
  .media-library-add-form__selected-media .details-wrapper,
  .media-library-views-form__bulk_form,
  .media-library-view .form--inline {
    display: flex;
    flex-wrap: wrap;
  }

  .media-library-selection {
    margin: 1em 0;
  }

  .media-library-item__preview {
    padding-bottom: 34px;
  }

  .media-library-form-element {
    .media-library-open-button {
      color: $gray-212;
      background-color: $gray-f8f;
      border-color: $gray-f8f;

      &:hover {
        color: $gray-212;
        background-color: $gray-e2e;
        border-color: $gray-dae;
      }
    }

    .media-library-form-element-empty-text,
    .description,
    .js-hide,
    .media-library-selection:empty {
      display: none !important;
    }
  }

  .media-library-item__attributes {
    position: absolute;
    bottom: 0;
    display: block;
    padding: 5px;
    max-height: calc(100% - 50px);
    overflow: hidden;
    background: white !important;
  }

  .media-library-item__attributes {
    position: absolute;
    bottom: 0;
    display: block;
    padding: 5px;
    max-height: calc(100% - 50px);
    overflow: hidden;
    background: white !important;
  }

  .media-library-selection {
    margin: 0;

    .media-library-item--grid {
      width: 100%;
    }
  }
}
